## Segmenting and Clustering Neighborhoods in Toronto

In [ ]:
import pandas as pd
import numpy as np

In [3]:
# Grab the table on the wikipedia page.
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [4]:
# When Borough is 'Not assigned', abandon them.
df = df[df.Borough!='Not assigned']

In [5]:
# When Neighbourhood is 'Not assigned', replace it with Borough.
for i in range(df.shape[0]):
    if df.iloc[i,2]=='Not assigned':
        df.iloc[i,2]=df.iloc[i,1]

In [6]:
# Merge the rows in this table by Postcode and Borough.
def neigh_join(df):
    return ','.join(df.values)
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(neigh_join)
df = df.reset_index()

In [7]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [9]:
# There are 103 rows in the table.
df.shape

(103, 3)